.clearfix
  = f.label :name, t("activerecord.attributes.profile.name", :default => "Name"), :class => :label
  .input
    = f.text_field :name, :class => 'text_field'
.clearfix
  = f.label :bio, t("activerecord.attributes.profile.bio", :default => "Bio"), :class => :label
  .input
    = f.text_area :bio, :class => 'text_area'
.clearfix
  = f.label :user_id, t("activerecord.attributes.profile.user_id", :default => "User"), :class => :label
  .input
    = f.number_field :user_id, :class => 'number_field'

.form-actions
  %button{:class => "btn primary", :type => "submit"} Save
  or
  = link_to "Cancel", profiles_path
