.well
	%table
		%tr
			%td{:style => "padding:15px;"}
				= image_tag avatar_url(profile.user), :class => "thumbnail", :width => 50
			%td
				%h3= link_to profile.name, profile_path(profile)
				%p{:style => "text-align:left;"}
					- unless current_user.nil?
						- params = {:controller => 'users_follows', :action => 'create', :follower_user_id => current_user.id, :followed_user_id => profile.user.id, }
						- if current_user.following?(profile.user)
							= link_to "Unfollow", params, :method => :post, :class => "btn btn-warning"
						- else
							= link_to "Follow", params, :method => :post, :class => "btn btn-primary"
						= link_to "View", profile_path(profile), :class => 'btn', :method => :get

