%h1 Listing profiles

%table
  %tr
    %th Name
    %th Bio
    %th User
    %th
    %th
    %th

  - @profiles.each do |profile|
    %tr
      %td= profile.name
      %td= profile.bio
      %td= profile.user_id
      %td= link_to 'Show', profile
      %td= link_to 'Edit', edit_profile_path(profile)
      %td= link_to 'Destroy', profile, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Profile', new_profile_path
