.row.page-header
	.span8
		%h1
			= @profile.name
	.span4
		.pull-right
			- unless current_user.nil?
				- params = {:controller => 'users_follows', :action => 'create', :follower_user_id => current_user.id, :followed_user_id => @profile.user.id, }
			- if current_user.following?(@profile.user)
				= link_to "Unfollow", params, :method => :post, :class => "btn btn-large"
			- else
				= link_to "Follow", params, :method => :post, :class => "btn btn-large"
			- if user_signed_in? && current_user.id == @profile.user_id
				= link_to 'Edit', edit_profile_path(@profile), :class => "btn btn-large"

.row
	.span2
		%ul.thumbnails
			%li.span3
				= image_tag avatar_url(@profile.user), :class => "thumbnail"
		%p
			%b Bio:
			= @profile.bio

	.span5
		%table.table.table-condensed.stream-table
			- @activities.each do |activity|
				= render :partial => "activities/activity", :locals => { :activity => activity, :is_remote => false }
		- if @getting_started
			= render "shared/getting_started"

