%p#notice= notice

%p
  %b Name:
  = @profile.name
%p
  %b Bio:
  = @profile.bio
%p
  %b User:
  = @profile.user_id

-if user_signed_in? && current_user.id == @profile.user_id
  = link_to 'Edit', edit_profile_path(@profile)
  \|

= link_to 'Back', profiles_path
