- unless current_user.nil?
  - params = {:controller => 'users_follows', :action => 'create', :follower_user_id => current_user.id, :followed_user_id => @profile.user.id, }
  - if current_user.following?(@profile.user)
    = button_to "Unfollow", params, :method => :post, :class => "btn"
  - else
    = button_to "Follow", params, :method => :post, :class => "btn"

%h1.page-header
  = @profile.name

%ul.thumbnails
  %li.span3
    = image_tag avatar_url(@profile.user), :class => "thumbnail"

%p
  %b Bio:
  = @profile.bio

-if user_signed_in? && current_user.id == @profile.user_id
  = link_to 'Edit', edit_profile_path(@profile)
  \|

= link_to 'Back', profiles_path

