%p#notice= notice

%h1.page-header
  = @profile.name

%ul.thumbnails
  %li.span3
    = image_tag avatar_url(@profile.user), :class => "thumbnail"

%p
  %b Bio:
  = @profile.bio

-if user_signed_in? && current_user.id == @profile.user_id
  = link_to 'Edit', edit_profile_path(@profile)
  \|

= link_to 'Back', profiles_path

