%h1= @wikipage.title
%p= @wikipage.body

.form-actions
  = link_to "Back", wikipages_path, :class => 'btn'
  = link_to "Edit", edit_wikipage_path(@wikipage), :class => 'btn'
  = link_to "Delete", wikipage_path(@wikipage), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn'
