.clearfix
  = f.label :name, t("activerecord.attributes.group.name", :default => "Name"), :class => :label
  .input
    = f.text_field :name, :class => 'text_field'
.clearfix
  = f.label :description, t("activerecord.attributes.group.description", :default => "Description"), :class => :label
  .input
    = f.text_area :description, :class => 'text_area'

.form-actions
  %button{:class => "btn primary", :type => "submit"} Save
  or
  = link_to "Cancel", groups_path
