%h1 Groups
%table{:class => "table table-striped"}
  %thead
    %tr
      %th
        = t("activerecord.attributes.group.name", :default => t("activerecord.labels.name", :default => "Name"))
      %th Description
      %th
  %tbody
    - @groups.each do |group|
      %tr
        %td= link_to group.name, group_path(group)
        %td= group.description
        %td
          = link_to "Join", group_path(group), :class => 'btn'
          = link_to "View", group_path(group), :class => 'btn'

= link_to "New", new_group_path, :class => 'btn btn-primary'

