.row
	%p#notice= notice

	%p
		%b Name:
		= @group.name
	%p
		%b Description:
		= @group.description

	= link_to 'Edit', edit_group_path(@group)
	\|
	= link_to 'Back', groups_path

.row
	#group-publisher
		= form_tag(:controller => "posts", :action => "create", :method => "post") do
			= text_area_tag(:text, "Share something", :size => "24x6")
			= hidden_field_tag(:owner_id => @group.id)
			= hidden_field_tag(:user_id => current_user.id)
			= hidden_field_tag(:owner_type => "Group")
			= submit_tag("Post")

.row
	.span4
		#social-stream
			- @group.posts.each do |post|
				= post.text

	.span4

