.row
	%p#notice= notice

	%p
		%b Name:
		= @group.name
	%p
		%b Description:
		= @group.description

	= link_to 'Edit', edit_group_path(@group)
	\|
	= link_to 'Back', groups_path

.row
	#group-publisher
		= form_for [@group, @post] do |f|
			= f.text_area :text, :size => "24x6"
			= f.submit("Post")

.row
	.span4
		#social-stream
			- @group.posts.each do |post|
				= post.text

	.span4

