.row.page-header
	.span9
		%h1
			= @group.name
		%p
			= @group.description
	.span3
		- unless current_user.nil?
			- unless @group.users.include?(current_user)
				- params = {:controller => 'memberships', :action => 'create', :membership => {:group_id => @group.id, :user_id => current_user.id} }
				= button_to "Join", params, :class => "btn btn-primary btn-large pull-right", :id => "join-group"

.row
	.span4#social-stream
		- if @group.users.include?(current_user)
			#group-publisher
				= form_for @post, :remote => true do |f|
					%p
						= f.text_area :text,  :class => "span4", :rows => 1, :id => "group-publisher-text", :placeholder => "Write something..."
						= f.hidden_field :user_id, :class => 'number_field', :value => current_user.id
						= f.hidden_field :owner_type, :value => @group.class.to_s
						= f.hidden_field :owner_id, :value => @group.id
						.row
							.span4.post-button
								= f.submit("Post", :class => "btn btn-success pull-right", :id => "post-button")

		- unless @group.posts.empty?
			%table.table.table-condensed#social-stream-table
				= render @group.posts.order("created_at DESC") + @group_activity

	.span5#content-canavas
		- unless @content_stream.first.nil?
			= render @content_stream.first.action_object
		- else
			.well
				You currently have no content! You can simply create one by hitting the button on the right!

	.span3#content-stream
		- unless current_user.nil?
			- if @group.users.include?(current_user)
				%ul.nav.pull-right
					%button.btn.btn-primary{"data-toggle"=>"modal", :href => "#wiki-modal"}
						%i.icon-file
						Wikipage
					%button.btn.btn-primary.disabled
						%i.icon-question-sign
						Question

		- if @content_stream.nil?
			%p You currently have no content. To post new content pick one above
		- else
			%table.table.table-condensed#content-stream-table
				- @content_stream.each do |activity|
					= render :partial => "activities/activity", :locals => { :activity => activity, :is_remote => true }

= render "wikipages/modal_form"

