.row
	.span4
		%h1 News Feed
	.span4
		= link_to "Create a wiki page",new_wikipage_path ,:class => "btn btn-large"
		= link_to "Create a group",new_group_path ,:class => "btn btn-large"
.row
	.span8
		-if @activites.nil?
			%p.lead Your news feed has nothing yet
		-else
			%ul
				- @activities.each do |activity|
					%p
						= "#{activity.user.profile.name} #{activity.contextual_verb} titled #{activity.action_object.title}"

