.hero-unit  
  %div
    = form_for @wikipage do |f|
      %p 
        = f.label :body, "Body"      
      %p 
        = f.text_area :body, :cols => 5, :rows => 3, :placeholder => "Type something…"
      %p
        = f.submit "Post"
  .stream
    - @friends_wikipages.each do |wikipage|
      %p
        = wikipage.body
      
