.stream-table
	.well
		%table
			%tr#post
				%td{:style => "padding:5px;vertical-align:text-top;"}
					= link_to image_tag(avatar_url(embeded_post.user), :width => "50"), embeded_post.user.profile
				%td
					%p= "#{embeded_post.user.profile.name} posted"
					= embeded_post.text

	%h3 Replys
	%table#replys.table.table-condensed
		- embeded_post.root_comments.each do |comment|
			= render comment

	.well
		= form_for Comment.build_from( embeded_post, current_user.id, "" ), :remote => true do |f|
			.field
				= f.label :body, "Reply"
				= f.text_area :body, :class => "span4", :rows => 2
				= f.hidden_field :post_id, :value => embeded_post.id
			.actions
				= f.submit 'Comment', :class => "btn", :id => "comment-button"

