!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : "Microcommunity"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    / Le styles
    :css
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    = stylesheet_link_tag "application", :media => "all"
    / Le fav and touch icons
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/


  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => root_path}Microcommunity
          .container.nav-collapse
            %ul.nav
              %li= link_to "Home", root_path
              %li= link_to "Groups", groups_path
              %li= link_to "Wiki", wikipages_path
              %li= link_to "People", profiles_path
            .navbar-text.pull-right
              - if user_signed_in?
                = "Logged in as"
                = link_to current_user.email, "/profiles/#{current_user.id}"
                = link_to "sign out", destroy_user_session_path, :method => :delete
              - else
                = link_to "sign up", new_user_registration_path
                or
                = link_to "sign in", new_user_session_path

    .container

      .content
        .row
          .span9
            - unless notice.nil?
              .row
                .span9
                  .alert.alert-info
                    <a class="close" data-dismiss="alert">×</a>
                    = notice
            .row
              .span9
                = yield
          .span3
            .well.sidebar-nav
              %h3 Sidebar
              %ul.nav.nav-list
                %li.nav-header Sidebar
                %li= link_to "Link 1", "/path1"
                %li= link_to "Link 2", "/path2"
                %li= link_to "Link 3", "/path3"

      %footer
        %hr
        %p &copy; Microcommunity 2012
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"

